/* General body styles */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Rain container */
#container {
  transform: scale(1.09);
  z-index: -10;
  position: absolute; /* Ensures it respects z-index */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* set to 1 after sceneLoaded event */
}

#foreground {
  display: block;
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.symbols-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.symbols {
  --left: 25%;
  --no-opacity: 0%;
  --full-opacity: 100%;
  --shift: 90%;
  --width: 1em;
  --animation-duration: 400ms;
  --font-size-absolute: 40pt;
  --font-size-relative: 4vw;
  --font-size: var(--font-size-absolute);

  font-family: 'Victor Mono', 'Courier New', Courier, monospace;
  font-size: var(--font-size);
  display: flex;
  flex-direction: row;

  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 calc(var(--font-size) * 3 / 4) calc(var(--font-size) / 10) rgba(0, 0, 0, 0.5);
  border-radius: calc(var(--font-size) / 2);
  padding: calc(var(--font-size) / 4);
  overflow: hidden;
}

.symbols div {
  --next-symb: "_";
  --symb: "_";
}

.symbols div::before {
  content: var(--next-symb);
  position: relative;
  left: var(--left);
  opacity: var(--no-opacity);
  top: calc(-1 * var(--shift));
  width: var(--width);
}

.symbols div.transition::before {
  transition: opacity var(--animation-duration), top var(--animation-duration);
  opacity: var(--full-opacity);
  top: 0;
}

.symbols div::after {
  content: var(--symb);
  position: relative;
  left: calc(-1 * var(--left));
  opacity: var(--full-opacity);
  top: 0;
}

.symbols div.transition::after {
  transition: opacity var(--animation-duration), top var(--animation-duration);
  opacity: var(--no-opacity);
  top: var(--shift);
}

/* Loading progress bar */
.indeterminate-progress-bar {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #d1d5db;
  height: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  animation: fade-in 1s ease;
}

.indeterminate-progress-bar__progress {
  background-color: #345681;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

/* Animations */
@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }

  to {
    left: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}